* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(245, 244, 244);
  height: 100%;
}
header {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem;
  height: auto;
}
.head {
  font-size: 1.9rem;
  width: 20rem;
  margin: 1rem;
}
.text {
  font-size: 1.8rem;
  width: 50rem;
  margin: 1rem;
  font-weight: 500;
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem;
}

.images img {
  width: 20rem;
  height: 25rem;
  border: 1px solid gray;
  border-radius: 2%;
  box-shadow: 5px 5px 5px gray;
  /* flex-shrink: 3; */
}
.images div {
  margin: 2rem;
}
.images .saba,
.images .griff {
  margin-top: 5rem;
}
@media (max-width: 800px) {
  .images .saba,
  .images .lu,
  .images .stan {
    margin-top: 3rem;
  }
  .images .griff {
    margin-top: 0;
  }
  .images img {
    width: 10rem;
    height: 13rem;
  }
  .head,
  .text {
    font-size: 1.1rem;
  }
}
